<div *ngIf="!loading; else loadingTemplate"
    class="flex flex-col justify-center items-center w-full h-full border border-gray-400 rounded-md p-3 overflow-auto space-y-2">
    <div class="flex w-[600px] flex-col">
        <h1 class="">Lista de clientes ativos:</h1>
        <ul class="space-y-2 w-full">
            <li class="flex flex-row border border-gray-400 p-2 rounded-md w-full h-fit justify-between items-center"
                *ngFor="let item of userList">
                <h2 class="pl-2">{{ item?.id }}</h2>
                <div class="space-x-2">
                    <span *ngIf="item?.is_active; else inativo">
                        <span class="text-green-500">Ativo</span>
                    </span>
                    <ng-template #inativo>
                        <span class="text-red-500">Inativo</span>
                    </ng-template>
                    <a class="rounded-md bg-gray-400 hover:bg-gray-500 text-white p-1 duration-150"
                        [routerLink]="['/dash/edit/', item?.id]">Editar</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #loadingTemplate>
    <span>Carregando...</span>
</ng-template>